@import "../../style.scss";


.service {
    @include themify($themes){
    margin-top: 200px;
    text-align: center;
        .container{
            h1{
                color: themed("textColor")
            }
        }
    // margin-bottom: 40px;
    hr {
        width: 3.5em;
        border: 2px solid themed("border");
        margin: auto;
        margin-bottom: 20px;
        
    }

    button {
        width: 12.5em;
        display: block;
        margin: auto;
        height: 3.5em;
        margin-top: 2.5em;
        border-radius: 2em;
        background-color: #fff;
        border: 1px solid #458ff6;
        color: #458ff6;
        font-weight: bold;
        // border: none;
        cursor: pointer;
        transition-duration: 0.3s;
        box-shadow: 0 0 rgba(255, 255, 255, 0.1);
    }

    button:hover {
        box-shadow: 0 0 15px rgba(68, 143, 246, 1);
        transform: scale(1.1);
    }
}
}