@import "../../style.scss";

.hero{
    @include themify($themes){
    // margin-top: 20px;
    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
        width: 80%;
        margin: auto;
        .left{
            flex: 1;
            .heading{
                text-align: center;
                font-size: 3em;
                font-weight: bold;
                color: themed('textColor');
            }
            p{
                width: 100%;
                color: themed("textColorsoft");
                margin-top: 1.5rem;
                font-weight: bold;
                font-size: 1.3em;
                
            }
            button{
                width: 12.5em;
                height: 3.5em;
                margin-top: 2.5em;
                border-radius: 2em;
                background-color: #458ff6;
                color: #fff;
                font-weight: bold;
                border: none;
                cursor: pointer;
                transition-duration: 0.3s;
            }

            button:hover{
                box-shadow: 0 0 15px rgba(68,143,246,1);
                transform: scale(1.1);
            }
        }
        .right{
            flex: 1;
            display: flex;
            justify-content: flex-end;
            img{
                width: 400px;
                height: 400px;
                margin-top: 20px;
            }
        }
    }

}
}